@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Poppins:ital,wght@0,300;0,500;1,100;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: white;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: #323232;
}

main {
    width: 400px;
    height: 470px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #141414;
    border-radius: 12px 50px 12px;
}

#form {
    display: flex;
    flex-direction: column;
    padding: 30px 0px;
    align-items: center;
    justify-content: space-between;
}

.form-control {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.form-control label {
    display: inline-block;
    font-weight: bold;
    font-size: 16px;
    font-style: normal;
}

.form-control input {
    display: block;
    margin-bottom: 25px;
    width: 245px;
    border: none;
    border-bottom: 1px solid white;
    outline: none;
    background-color: transparent;
    font-size: 14px;
}

.form-control i {
    position: absolute;
    top: 20px;
    left: 245px;
    width: 20px;
    height: 27px;
    margin-left: -20.8px;
    visibility: hidden;
}

input::placeholder {
    font-weight: 100;
    font-style: italic;
}

input:focus {
    padding-top: 5px;
    transition-duration: 0.3s;
    border-color: rgb(68, 86, 243);
}

input:focus::placeholder {
    opacity: 0;
    transition-duration: 0.3s;
}

#button {
    width: 200px;
    height: 30px;
    margin: 30px;
    border: none;
    border-radius: 12px 50px 12px;
    font-weight: bold;
    font-size: 16px;
    font-style: normal;
    background-color: #323232;
    cursor: pointer;
}

#button:hover {
    letter-spacing: 2px;
    background-color: rgb(231, 96, 96);
    color: #323232;
    transform: scale(1.1);
    transition-duration: 0.3s;
}

.form-control.success .img-success {
    visibility: visible !important;
}

.form-control.error .img-error {
    visibility: visible !important;
}

.form-control.success input {
    border-color: rgb(113, 243, 113);
}

.form-control.error input {
    border-color: rgb(207, 41, 41);
}

.img-error, .img-success {
    width: 20px;
    height: 20px;
}